body {
    background-color: #1E3E5B;
    font-family: Verdana;
}

.navbar {
    padding: 0px;
    margin: 0px;
    background-color: #ACACAD;
    width: 100%;
}

.img1 {
    width: 90px;
    height: 90px;
}

.img2 {
    width: 40px;
    height: 30px;
}

.cardPerfil {
    width: 40px;
    background-color: #ACACAD;
    color: #000000;
    text-indent: 6px;
    border: 2px solid #000000;
    border-radius: 50%;
}

.imgPerfil {
    padding-top: 7.3%;
    margin-left: 0%;
    width: 80%;
}

.btn2 {
    width: 100px;
    float: none;
    top: 0px;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    background-color: #474747;
    height: 50px;
    text-align: center;
    padding: 0px;
    border-radius: 10px;
}

.contenedor {
    max-width: 1000px;
    margin: 10px auto;
    color: #000000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 250px;
    height: 200px;
    margin: 5px;
    padding: 3px;
    background-color: #ACACAD;
    color: #000000;
    text-indent: 30px;
    border: 2px solid #000000;
    border-radius: 10%;
}

.imgViaje {
    padding-top: 5%;
    margin-left: 10%;
    width: 55%;
}

.imgCoche {
    padding-top: 20%;
    margin-left: 8%;
    width: 60%;
}

.imgPerfil {
    padding-top: 7.3%;
    margin-left: 0%;
    width: 80%;
}

.imgChofer {
    padding-top: 5%;
    margin-left: 16.5%;
    width: 40%;
}

.imgCliente {
    padding-top: 8%;
    margin-left: 14%;
    width: 50%;
}

.imgEmpleado {
    padding-top: 6%;
    margin-left: 15%;
    width: 45%;
}

.imgMan {
    padding-top: 5%;
    margin-left: 17.5%;
    width: 40%;
}

.txtCoche {
    margin-top: 10%;
    margin-left: -12%;
    text-align: center;
    font-size: 24px;
}

.txtMan {
    margin-top: 10%;
    margin-left: -11%;
    text-align: center;
    font-size: 24px;
}

.txtMan1 {
    margin-top: -20%;
    margin-left: -9%;
    text-align: center;
    font-size: 24px;
}

.txt {
    margin-top: 0%;
    margin-left: -12%;
    text-align: center;
    font-size: 24px;
}



.btn3 {
    border: 0.5px solid black;
    top: 20px;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    background-color: #ffffff;
    width: 100px;
    height: 30px;
    line-height: 0px;
    text-align: center;
    border-radius: 10px;
}


.btn4 {
    border: 0.5px solid black;
    top: 20px;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    background-color: #5bb15f;
    width: 100px;
    height: 30px;
    line-height: 0px;
    text-align: center;
    border-radius: 10px;
}

.btn6 {
    margin-left: -20px;
    position: absolute;
    margin-top: 15px;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    background-color: #53B531;
    height: 60px;
    line-height: 60px;
    text-align: center;
    padding: 0 50px;
    border-radius: 10px;
}

#btn6 {
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    background-color: #c2ca32;
    width: 40px;
    height: 40px;
    line-height: 0px;
    text-align: center;
    border-radius: 10px;
}

#btn7 {
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    background-color: #d44427;
    width: 40px;
    height: 40px;
    line-height: 0px;
    text-align: center;
    border-radius: 10px;
}

#btn8 {
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    background-color: #b8b8ab;
    width: 40px;
    height: 40px;
    line-height: 0px;
    text-align: center;
    border-radius: 10px;
}

.img_basura {
    width: 18px;
    height: 18px;
}

.img_editar {
    width: 20px;
    height: 18px;
}

.img_inav {
    width: 18px;
    height: 18px;
}

.quehacer {
    margin-left: 15px;
    color: #000000;
    text-decoration: none;
}

#btn9 {
    border: 0.5px solid black;
    font-weight: bold;
    font-size: 15px;
    height: 30px;
    border-radius: 5px;
    background-color: #5bb15f;
    color: #000000;
    text-decoration: none;
    margin-left: 20px;
}

#btn10 {
    border: 0.5px solid black;
    font-weight: bold;
    font-size: 15px;
    height: 30px;
    margin-right: 20px;
    float: right;
    border-radius: 5px;
    background-color: #5bb15f;
    color: #000000;
    text-decoration: none;
}

.links {
    text-decoration: none;
}

/* Modal salir */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);

}

.modal-contenido {
    background-color: #474747;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #000000;
    width: 30%;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    border-radius: 10px;
}

.modal h2 {
    color: #cf4646;
    text-align: center;
}

.modal-botones {
    text-align: center;
    margin-top: 20px;
}

.modal1 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal1 h2 {
    color: #cf4646;
    text-align: center;
}

.modal-contenido1 {
    background-color: #474747;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #000000;
    width: 30%;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    border-radius: 10px;
}

.modal-botones1 {
    text-align: center;
    margin-top: 20px;
}

/* botones */


.modal-content3 {
    background-color: #ACACAD;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 500px;
}

.close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Editar perfil */



.card1 {
    padding-top: 0%;
    margin: 5px 0px 50px 30px;
    width: 60%;
    height: 500px;
    color: #000000;
    text-indent: 30px;
    border-radius: 10%;
}

.card2 {
    margin-left: 16.8%;
    width: 65%;
}

.card3 {
    width: 462.5px;
    margin-left: 0px;
    padding: 0px;
    color: #ffffff;
    text-indent: 30px;
    border-radius: 10%;

}

.card4 {
    padding-top: 0%;
    margin: 0px 0px 0px 0px;
    width: 60%;
    height: 500px;
    color: #000000;
    text-indent: 30px;
    border-radius: 10%;

}


.cardPerfil2 {
    margin-left: 100px;
    margin-top: 180px;
    margin-bottom: 240px;
    width: 170px;
    background-color: #ACACAD;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 50%;
}

.imgPerfil2 {
    padding-top: 10%;
    margin-left: 20%;
    width: 70%;
}

#ingresefoto {
    margin-top: -220px;
    margin-left: 45%;
}

.txt1 {
    color: #ffffff;
    font-family: Verdana;
    margin-top: 20px;
    margin-left: 80px;
    text-indent: 0px;
}

.txt2 {
    font-size: 25px;
    color: #ffffff;
    font-family: Verdana;
    margin-top: 280px;
    margin-left: 80px;
}

.btn1 {
    position: absolute;
    margin-top: 420px;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    background-color: #53B531;
    height: 60px;
    line-height: 60px;
    text-align: center;
    padding: 0 50px;
    border-radius: 10px;
}

.input1 {
    height: 16px;
    width: 60%;
    border-radius: 20px;
    margin-left: 90px;
    padding: 15px;
}

.input2 {
    border: 1px solid #000000;
    height: 48px;
    width: 67%;
    font-size: 14px;
    text-indent: 0px;
    border-radius: 20px;
    margin-left: 90px;
    padding: 15px;
}

/* Ocultar el select original */
.input2 select {
    display: none;
}

.lebel {
    margin-left: 80px;
    color: #ffffff;
}

#input1 {
    margin-left: 0px;
    height: 10px;
    width: 400px;
    border-radius: 20px;
    left: 0px;
    padding: 15px;
}

#input {
    height: 10px;
    width: 400px;
    border-radius: 20px;
    left: 0px;
    padding: 15px;
}

.swal-modal {
    background-color: #474747;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #000000;
    width: 30%;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    border-radius: 10px;
}

.swal-text {
    font-size: 20px;
    color: #ffffff;
}

.swal-button {
    text-align: center;
    color: #000000;
    background-color: #5bb15f;
    border: 1px solid black;
}

/* Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    background-color: #ACACAD;
    border: 0px;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    border: 1px solid #000000;
    background-color: #ACACAD;
    box-shadow: 2px 2px 4px;
    width: 400px;
    height: 400px;
    list-style: none;
    padding: 0px;
    max-height: 800px;
    transition: height 0.3s ease;
}

.dropdown-op1 {
    font-size: 20px;
    padding-left: 20px;
    padding-top: 20px;
}

.dropdown-op2 {
    font-size: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.dropdown-menu li a {
    color: #000000;
    text-decoration: none;
    display: block;
}

.dropdown.active .dropdown-menu {
    display: block;
    height: auto;
}

.dropdown-op {
    padding-top: 5px;
    margin: 0%;
    text-indent: 10px;
}

.hidden,
.hidden1,
.hidden2,
.hidden3,
.hidden4,
.hidden5 {
    display: none;
}


/* Ver tablas */
.disabled-row {
    background-color: #de0101;
    /* Cambia esto al color que desees */
}

.txt3 {
    font-size: 20px;
    color: #ffffff;
    font-family: Verdana;
}

.txt4 {
    font-size: 16px;
    color: #ffffff;
    font-family: Verdana;
}

.content-table {
    max-height: 400px;
    /* Altura máxima para la tabla */
    overflow: auto;
    margin-left: -11.5%;
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 125%;
}

.content-table td {
    background-color: #ACACAD;
}

.content-table td,
.content-table th {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
}

.content-table tr:nth-child(even) {
    background-color: #ffffff;
}

.content-table th {
    background-color: #1E3E5B;
    color: rgb(3, 3, 3);
}

.td-btn {
    width: 140px;
}

.tablaespacio {
    display: inline-block;
    width: 2%;
}

.tablaizq {
    width: 40%;
    display: inline-block;
    margin-left: 10px;
}

.tablader {
    margin-left: 48px;
    display: inline-block;
    padding: 0%;
    width: 40%;
}

title {
    background-color: #1E3E5B;
}

.error404 {
    position: absolute;
    margin-top: 10%;
    margin-left: 35%;
    width: 40%;
}

.fondorojo {
    background-color: #8e3939;
    color: #000000;
}



/* Estilo para la tabla cuando está inhabilitada */
.inhabilitado {
    border: 2px solid red;
}